pywaggle[all]

# Required Waggle Python modules
pywaggle[vision]==0.52.*

# Custom Python modules. Please add your requirements below.
argparse
Pillow
pandas
torch==1.11.0
torchvision==0.12.0
matplotlib
