pywaggle[all]

# Required Waggle Python modules
pywaggle[vision]==0.52.*

# Custom Python modules. Please add your requirements below.
argparse
Pillow
pandas
torch==1.10.2
torchvision==0.11.3
matplotlib
